@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
.toolbar-title-default {
        --background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%); /* Vibrant gradient matching nav bar */

}
ion-button {
    // --background: #d16573;
    --color: #ff0000;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(226, 29, 29, 0.2);
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 120px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;    
    &:hover {
      transform: scale(1.05);
    }
  }

  .no{
  --background: red;
  --color: rgb(0, 0, 0);
}

// .annu{
//   flex-wrap: wrap;
// }
// .sar{
//   display: flex;

// }
